*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15px;
}

body{
	width: 100%;
	min-height: 100vh;
	background-color: whitesmoke;
	margin: 0;
	justify-content: center;
	padding: 0;
	display: flex;
}

.page-wrapper{
	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
}

.phone{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.phone img{
	height: 34rem;
}

.box1{

	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 50%;
	min-height: 34rem;
}

.group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 100%;
	padding: 1.3rem 0;
	border: 10px solid lightgray;
}