*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15
}

body{
	display: flex;
	background-color: rgb(245, 245, 245);
}

.main-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
}

.phone{
	display: flex;
	size: 50%;
	max-height: 80%;
	max-width: 45%;
}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 600px;
	height: 90%;
}